body {
  font-family: "Exo 2", sans-serif;
  color: #666666;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Exo 2", sans-serif;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
.h1 span,
.h2 span,
.h3 span,
.h4 span,
.h5 span,
.h6 span {
  color: #aaaaaa;
}
a {
  color: #63b474;
}
a:hover,
a:focus {
  color: #3c8d4d;
}
a:focus {
  outline: 0 none;
}
.dropdown-menu {
  border-top-width: 0;
  font-size: 12px;
  margin-top: 0;
  padding: 5px 0 4px;
}
.dropdown-menu li + li {
  margin-top: 1px;
}
.dropdown-menu li.separator {
  border-top: 1px solid #E5E5E5;
  margin-top: 4px;
  padding-top: 4px;
}
.dropdown-menu li > a:hover {
  background-color: #e0f0e3;
  border-color: #c1e1c7;
}
.dropdown-menu li.active a,
.dropdown-menu li.active a:hover {
  background-color: #63b474 !important;
  color: #FFFFFF;
  border-color: #3c8d4d !important;
  /* Fix in patternfly */

}
.btn {
  font-size: 12px;
  padding: 6px 15px 6px;
  line-height: 12px;
  box-shadow: none;
}
.btn-primary {
  background-color: #63b474;
  border-color: #619e6e;
  color: #FFFFFF;
}
.btn-default {
  background-color: #FFFFFF;
  background-image: none;
  border-color: #ddd;
  color: #777;
  font-weight: normal;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #f3f3f3;
  border-color: #ccc;
  color: #555;
}
.btn-default:active,
.btn-default.active {
  font-weight: bold;
  background-image: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15) inset;
  border-color: #ccc;
}
.btn-default:active {
  font-weight: normal;
}
button.icon {
  padding: 0;
  background-image: 0;
  border: none;
  background-color: transparent;
}
button.icon span {
  text-indent: -999999px;
  display: inline-block;
}
.caret {
  margin-left: 5px;
}
.select-rcue {
  background: #ffffff url("img/select-arrow.png") no-repeat right center;
  border: 1px solid #B6B6B6;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
  color: #333333;
  display: inline-block;
  height: 2.6em;
  min-width: 75px;
  overflow: hidden;
  padding: 0 0.9em 0 0;
}
.select-rcue select {
  background-color: rgba(0, 0, 0, 0);
  border: medium none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  height: 30px;
  line-height: 30px;
  margin-left: -2px;
  margin-top: -2px;
  padding: 5px 0.545455em;
  width: 150%;
}
.select-rcue select option {
  line-height: 2em;
  padding: 0.363636em 0.909091em;
}
header .navbar.utility {
  background-color: #63b474;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  min-height: 36px;
  padding: 0 20px;
}
header .navbar.utility h1 {
  font-size: 18px;
  margin: 0;
  line-height: 36px;
}
header .navbar.utility h1 a {
  color: #fff;
}
header .navbar.utility .nav .open > a,
header .navbar.utility .nav .open > a:hover,
header .navbar.utility .nav .open > a:focus {
  background-color: #51a362;
}
header .navbar.utility .dropdown-toggle {
  font-size: 13px;
  line-height: 36px;
  padding: 0 15px;
  color: #fff;
}
header .navbar.utility .dropdown-toggle:hover,
header .navbar.utility .dropdown-toggle:focus {
  background-color: #51a362;
}
header .navbar.utility .dropdown-toggle .fa {
  margin-right: 7px;
}
header .navbar.utility .dropdown-menu {
  left: auto;
  right: 0;
}
header .navbar.primary {
  background-color: #ebebeb;
  min-height: 40px;
  border-color: #cdcdc5;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 0;
}
header .navbar.primary .nav {
  padding-right: 0;
}
header .navbar.primary .nav li a {
  font-size: 14px;
  color: #666666;
  padding: 0 20px;
  line-height: 40px;
  text-align: center;
}
header .navbar.primary .nav li a:hover {
  background-color: #dedcdc;
}
header .navbar.primary .nav li.active a {
  font-weight: bold;
  background-color: #dedcdc;
  border-top: 1px solid #b5b5ae;
  margin-top: -1px;
}
header .navbar.primary .btn-primary {
  margin-top: 5px;
  margin-right: 20px;
}
header .navbar.primary .btn-primary:hover,
header .navbar.primary .btn-primary:focus {
  background-color: #51a362;
  border-color: #619E6E;
}
aside.col-md-2 {
  padding: 0;
}
aside .dropdown {
  margin-top: 10px;
}
aside .dropdown-toggle {
  display: block;
  font-size: 13px;
  line-height: 1em;
  font-weight: bold;
  padding: 10px 10px 12px 20px;
  color: #aaaaaa;
  background-color: #404040;
  border-color: #525252;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  text-align: center;
}
aside .dropdown-toggle:hover,
aside .dropdown-toggle:focus,
aside .dropdown-toggle:active {
  background-color: #464646;
  text-decoration: none;
}
aside .dropdown-toggle .caret {
  float: right;
  margin-top: 3px;
}
aside .dropdown-menu {
  margin-top: 1px;
  width: 100%;
  text-align: center;
}
aside .side-nav li {
  text-align: center;
  margin-top: 36px;
}
aside .side-nav li:first-child {
  margin-top: 32px;
}
aside .side-nav li.active a {
  color: #fff;
}
aside .side-nav li a {
  font-size: 14px;
  color: #a2a2a1;
  font-weight: bold;
}
aside .side-nav li a:hover,
aside .side-nav li a:focus {
  color: #fff;
  text-decoration: none;
}
aside .side-nav li a .fa {
  display: block;
}
.aside-bg,
.content-area-bg {
  background-color: #343434;
  bottom: 0;
  position: fixed;
  top: 0;
  z-index: -10;
}
.content-area {
  background-color: #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
}
.content-area-bg {
  background-color: #f5f5f5;
}
.breadcrumb {
  margin: 9px 0;
}
.breadcrumb > li + li:before {
  color: #aaaaaa;
}
.breadcrumb > .active {
  color: #666666;
}
.box .box-header {
  background-color: #fff;
  margin-bottom: 1px;
  padding: 0 15px;
}
.box .box-header h2 {
  margin: 0;
  line-height: 23px;
  padding: 7px 0 11px;
}
.box .box-header .pull-right {
  padding-top: 8px;
}
.box .box-header .pull-right .interval {
  display: none;
}
.box .box-content {
  background-color: #fdfdfd;
  width: 100%;
  padding: 36px 30px 32px;
}
.box .box-content > div {
  width: 33.333333%;
  text-align: center;
  float: left;
  font-size: 0.6em;
  margin-top: 30px;
  display: table;
}
.box .box-content > div.highlight {
  width: 100%;
  margin-top: 0;
  font-size: 1em;
  float: none;
}
.box .box-content > div.highlight .text {
  font-size: 16px;
  padding-left: 5px;
}
.box .box-content > div i {
  font-size: 10.54545454545455em;
  padding-right: 0.2734375em;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.box .box-content > div div {
  text-align: left;
  vertical-align: bottom;
  display: table-cell;
}
.box .box-content > div div em {
  font-size: 11.63636363636364em;
  font-weight: 300;
  line-height: 0.6em;
  margin-bottom: -0.078125em;
}
.box .box-content > div div .measure {
  font-size: 2.5em;
  line-height: 0.5em;
}
.box .box-content > div div .text {
  font-size: 13px;
  color: #aaaaaa;
  padding-left: 3px;
  display: block;
}
.box .box-content > div.api {
  color: #69a8cd;
}
.box .box-content > div.users {
  color: #e9b356;
}
.box .box-content > div.users i {
  font-size: 9.84848484848485em;
}
.box .box-content > div.push {
  color: #e39090;
}
.box .box-content > div.push i {
  padding-right: 0.24691358024691em;
  padding-left: 0.24691358024691em;
}
.box .box-content > div.storage {
  color: #6ab1ad;
}
.box .box-content > div.storage i {
  padding-right: 0.23188405797101em;
}
.tutorials {
  padding: 0 15px;
}
.tutorials h3 {
  margin-top: 28px;
}
.tutorials i {
  float: left;
  margin-right: 15px;
  color: #aaaaaa;
}
.tutorials p {
  font-size: 14px;
  color: #666666;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.5em;
}
.tutorials a {
  display: block;
  font-size: 12px;
}
.info-area {
  padding: 0 20px;
}
.info-area h3 {
  margin-top: 30px;
  margin-bottom: 22px;
}
.info-area .details > div {
  margin-bottom: 25px;
}
.info-area .details > div div {
  margin-top: 8px;
  font-size: 12px;
}
.info-area .details > div div:first-child {
  margin-top: 0;
}
.info-area .details > div .label {
  color: #aaaaaa;
  font-weight: normal;
  padding: 0;
  display: block;
  text-align: left;
}
.info-area .details > div .field {
  display: inline-block;
  margin-top: 2px;
}
.info-area .details > div .field + button {
  padding-left: 5px;
}
.info-area .details > div .circle {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: #63b474;
  display: inline-block;
}
.info-area .details > div > a {
  display: inline-block;
  margin-top: 6px;
}
.info-area .details > div ul {
  margin-top: 2px;
  margin-bottom: 0;
}
